<!DOCTYPE html>
<html>

<head>
    <title>Add Employee</title>
    <style>
.success-message {
    background: #d4edda;
    color: #155724;
    border: 2px solid #28a745;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
     
}
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

</style>
</head>

<body>

    <h1>Add Employee</h1>

    <a href="{% url 'home' %}" class="button">
    ← Employee List
    </a>

    <br><br>

    {% if messages %}

        {% for message in messages %}

             <div class="success-message">
                 ✅ {{ message }}
             </div>

        {% endfor %}

    {% endif %}

    <form action="" method="POST">

        {% csrf_token %}

        <label>Employee ID:</label>
        <input type="text" name="employee_id">

        <br><br>

        <label>Name:</label>
        <input type="text" name="name">

        <br><br>

        <label>Email:</label>
        <input type="email" name="email">

        <br><br>

        <label>Department:</label>
        <input type="text" name="department">

        <br><br>

        <label>Joining Date:</label>
        <input type="date" name="joining_date">

        <br><br>

        <input type="submit" value="Save Employee">

    </form>

<script>

setTimeout(function () {

    const message = document.querySelector(".success-message");

    if (message) {
        message.style.display = "none";
    }

}, 3000);

</script>

</body>

</html>